/* Ukljuci peding i border u visinu i sirinu elemenata */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* ukloni margine and peding sa liste */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* stilizovanje elemenata liste */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: bisque;
    font-size: 18px;
    transition: 0.2s;
  
    /* onemoguciti selekciju elemenata liste u razl.brauzerima */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Svaki neparni element liste je druge boje  */
  ul li:nth-child(odd) {
    background-color: rgb(226, 214, 191);
  }
  
  /* tamnija pozadina sa hoverom */
  ul li:hover {
    background: #ddd;
  }
  
  /* klikom dodaj pozadinu, pojacaj tekst i prekrizi ga */
  ul li.checked {
    background: rgb(214, 130, 100);
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Dodaj strik sa klikom na element liste */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* stilizovanje close dugmeta */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color:rgb(155, 85, 20);;
    color: white;
  }
  
  /* stilizovanje zaglavlja */
  .divClass {
    background-color: rgb(155, 85, 20);
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  
  .divClass:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* stilizovanje inputa */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Stilizovanje dugmeta za dodavanje novih zadataka */
  .adding {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .adding:hover {
    background-color: #bbb;
  }